---
name: C/C++ CI

on:
  schedule:
    - cron: "0 20 4 * *"  # Run monthly, at 20:00 on the 4th day of month.
  push:
    branches:
      - master

    paths:
      - configure.ac
      - 'src/**'
      - 'include/**'
      - .github/workflows/libfolia.yml

  pull_request:
    branches: [master]

jobs:
  notification:
    runs-on: ubuntu-latest
    name: Notify start to gitlama
    steps:
      - name: IRC notification
        uses: LanguageMachines/ticcactions/irc-init@v1

  build:
    needs: notification
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        compiler: [g++-12, clang++]

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v4.1.1
      - uses: LanguageMachines/ticcactions/cpp-build-env@v1
      - uses: LanguageMachines/ticcactions/cpp-dependencies@v1
      - uses: LanguageMachines/ticcactions/setup-cppcheck@v1
      - uses: LanguageMachines/ticcactions/irc-nick@v1

      - uses: LanguageMachines/ticcactions/cpp-submodule-build@v1
        with:
          module: ticcutils

      - name: Static Code-check
        if: ${{ env.action_status == '' }}
        run: cppcheck ${{ env.cpc_opts }} .

      - uses: LanguageMachines/ticcactions/cpp-safe-build@v1

      - name: Notify IRC of build results
        uses: LanguageMachines/ticcactions/irc-status@v1
        with:
          branch: ${{ github.ref_name }}
          nickname: ${{ env.nick }}
          status: ${{ env.action_status }}
          details: ${{ env.action_details }}
        continue-on-error: true

      - name: install foliatest
        uses: LanguageMachines/ticcactions/cpp-submodule-build@v1
        with:
          module: foliatest

      - name: install FoliaPY
        if: ${{ env.action_status == '' }}
        run: |
          git clone https://github.com/proycon/foliapy;
          cd foliapy;
          # get folia-repo with examples
          git submodule init && git submodule update;
          cd ..

      - name: run foliatests
        id: foliatests
        if: ${{ env.action_status == '' }}
        env:
          FOLIAPATH: ../foliapy/folia-repo
          EXPECT: 0
          LD_LIBRARY_PATH: $LD_LIBRARY_PATH:/usr/local/lib
        run: |
          cd foliatest;
          ./src/testaction.sh;
          TEST_STAT=$(cat status.tmp)
          if [ $TEST_STAT != 0 ]
          then
            echo "action_status=foliatests" >> $GITHUB_ENV
          fi
          echo "action_details=$TEST_STAT errors" >> $GITHUB_ENV
        continue-on-error: true
      - name: Notify IRC of end result
        uses: LanguageMachines/ticcactions/irc-status@v1
        with:
          branch: ${{ github.ref_name }}
          nickname: ${{ env.nick }}
          step: testing
          status: ${{ env.action_status }}
          details: ${{ env.action_details }}
