name: C/C++ CI

on:
  schedule:
    - cron: "0 3 4 * 5"  # run test once a month
  push:
    branches:
      - master
      - actions
    paths:
      - configure.ac
      - 'src/**'
      - 'include/**'
      - .github/workflows/libfolia.yml

  pull_request:
    branches: [master]

jobs:
  notification:
    runs-on: ubuntu-latest
    name: Notify start to gitlama
    steps:
      - name: IRC notification
        uses: LanguageMachines/ticcactions/irc-init@v1
        with:
          module: libfolia

  build:
    needs: notification
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        compiler: [g++-12, clang++]

    steps:
      - name: exclude Mac-OS with g++
        shell: bash
        if: ${{ matrix.os == 'macos-latest' && matrix.compiler == 'g++-12' }}
        run: |
          echo "action_status=skip" >> $GITHUB_ENV
          echo "action_details='c++ library issues'" >> $GITHUB_ENV

      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v4.1.1
      - uses: LanguageMachines/ticcactions/cpp-build-env@v1
      - uses: LanguageMachines/ticcactions/cpp-dependencies@v1
      - uses: LanguageMachines/ticcactions/setup-cppcheck@v1
      - uses: LanguageMachines/ticcactions/irc-nick@v1
      - name: install TiccUtils
        id: ticcutils
        if: ${{ env.action_status == '' }}
        env:
          CXX: ${{ matrix.compiler }}
        run: |
          git clone https://github.com/LanguageMachines/ticcutils;
          cd ticcutils;
          bash bootstrap.sh;
          ./configure;
          make;
          sudo make install;
          cd ..;
        continue-on-error: true
      - name: get status ticcutils
        uses: LanguageMachines/ticcactions/get-status@v1
        with:
          the-step: ticcutils
          outcome: ${{ steps.ticcutils.outcome }}
      - name: Static Code-check
        if: ${{ env.action_status == '' }}
        run: cppcheck ${{ env.cpc_opts }} .

      - uses: LanguageMachines/ticcactions/cpp-safe-build@v1

      - name: Notify IRC of test results
        uses: LanguageMachines/ticcactions/irc-status@v1
        with:
          module: libfolia
          branch: ${{ github.ref_name }}
          nickname: ${{ env.nick }}
          status: ${{ env.action_status }}
          details: ${{ env.action_details }}
        continue-on-error: true
      - name: install foliatest
        id: foliatest
        if: ${{ env.action_status == '' }}
        env:
          CXX: ${{ matrix.compiler }}
        run: |
          git clone --depth=1 https://github.com/LanguageMachines/foliatest.git
          cd foliatest;
          bash bootstrap.sh;
          ./configure;
          make;
          sudo make install;
          cd ..;
        continue-on-error: true
      - name: get status foliatest
        uses: LanguageMachines/ticcactions/get-status@v1
        with:
          the-step: foliatest
          outcome: ${{ steps.foliatest.outcome }}
      - name: install FoliaPY
        if: ${{ env.action_status == '' }}
        run: |
          git clone https://github.com/proycon/foliapy;
          cd foliapy;
          # get folia-repo with examples
          git submodule init && git submodule update;
          cd ..

      - name: run foliatests
        id: foliatests
        if: ${{ env.action_status == '' }}
        env:
          FOLIAPATH: ../foliapy/folia-repo
          EXPECT: 0
          LD_LIBRARY_PATH: $LD_LIBRARY_PATH:/usr/local/lib
        run: |
          cd foliatest;
          ./src/testaction.sh;
          TEST_STAT=$(cat status.tmp)
          echo "action_details=$TEST_STAT errors" >> $GITHUB_ENV
        continue-on-error: true
      - name: Notify IRC of end result
        uses: LanguageMachines/ticcactions/irc-status@v1
        with:
          module: libfolia
          branch: ${{ github.ref_name }}
          nickname: ${{ env.nick }}
          step: testing
          status: ${{ env.action_status }}
          details: ${{ env.action_details }}
